.user-index a.promo {
	color: #337AB7;
	text-decoration: underline;
}
.product-form .field-product-description textarea {
	height: 150px;
}
.client-avatar {
	width: 42px;
}
.client-avatar img {
	border-radius: 50%;
	height: 28px;
	width: 28px;
}
.contact-type {
	color: #c1c3c4;
	width: 20px;
}
#searchsale-created_at-kvdate .kv-date-remove {
	display: none;
}
#searchsale-timestamp_to {
	border-radius: 0 !important;;
}
